body{
    background-color:#565554;
}

h1{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    background-color: #2E86AB;
}
#text{
    display: flex;
    align-items: center;
    justify-content: center;
}
#button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 22px;
}
img:hover{
    cursor: pointer;
    opacity: 0.8;
}
footer{
    position: relative;
    color:rgb(172, 172, 172);
    text-align: center;
    opacity: 0.9;
    padding: 4rem 0 2rem;
}